body{
    background: #5B4B8A;
}

input[type="radio"]{
    display:none ;
    
}
input[type="text"]{
    text-transform: capitalize;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}

.card{
    background-color: #18161b;
    font-size:11px;
    color:#c1c1c7;
}

.btn-rate{
    position:fixed;
    right: 150px;
    width: 200px;
    height: 10px;
}

.navbar{
    background: #371B58;
}

.rate{
font-size: 12px;
color:black;
background:#DBDFFD;
}

.rate :focus :hover{
    color:black;
    background:#202127;   
}

.heads{
    color: #c1c1c7
}

.btn-outline{
    color:#3e1da1;
    font-weight: 500;
    background-color: #c1c1c7;   
}

form{
    color:#c1c1c7
}

.btn-outline-light :hover{
    background-color: #4CAF50; 
    color: white

}